<form class="brackenvale-art-sheet {{cssClass}}" autocomplete="off">
  <nav class="brackenvale-page-tabs" aria-label="Character sheet pages">
    {{#each pages}}
      <button
        type="button"
        class="{{#if active}}active{{/if}}"
        data-page="{{page}}"
      >
        {{page}}
      </button>
    {{/each}}
  </nav>

  {{#each pages}}
    <div
      class="brackenvale-art-page {{#if active}}active{{/if}}"
      data-page="{{page}}"
    >
      <img
        class="brackenvale-page-art"
        src="{{art}}"
        alt=""
        draggable="false"
      >

      <div class="brackenvale-page-fields">
        {{#each fields}}
          {{#if isCheckbox}}
            <input
              class="overlay-field {{className}}"
              type="checkbox"
              name="{{name}}"
              style="{{style}}"
              aria-label="{{label}}"
              {{checked checked}}
            >
          {{else}}
            <input
              class="overlay-field {{className}}"
              type="text"
              name="{{name}}"
              value="{{value}}"
              style="{{style}}"
              aria-label="{{label}}"
            >
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</form>
