<form class="brackenvale-art-sheet {{cssClass}}" autocomplete="off">
  <nav class="brackenvale-page-tabs" aria-label="Character sheet pages">
    {{#each pages}}
      <button
        type="button"
        class="{{#if active}}active{{/if}}"
        data-page="{{page}}"
      >
        {{page}}
      </button>
    {{/each}}
  </nav>

  {{#each pages}}
    <div
      class="brackenvale-art-page {{#if active}}active{{/if}}"
      data-page="{{page}}"
    >
      <img
        class="brackenvale-page-art"
        src="{{art}}"
        alt=""
        draggable="false"
      >

      <div class="brackenvale-page-fields">
        {{#each components}}
          {{#if isTextField}}
            <input
              class="overlay-field {{className}}"
              type="text"
              name="{{name}}"
              value="{{value}}"
              style="{{style}}"
              aria-label="{{label}}"
            >
          {{/if}}

          {{#if isCheckboxField}}
            <input
              class="overlay-field {{className}}"
              type="checkbox"
              name="{{name}}"
              style="{{style}}"
              aria-label="{{label}}"
              {{checked checked}}
            >
          {{/if}}

          {{#if isAbilityScore}}
            <input
              class="overlay-field ability-score-field"
              type="text"
              name="{{scoreName}}"
              value="{{scoreValue}}"
              style="{{scoreStyle}}"
              aria-label="{{label}} score"
            >

            <input
              class="overlay-field ability-modifier-field"
              type="text"
              name="{{modifierName}}"
              value="{{modifierValue}}"
              style="{{modifierStyle}}"
              aria-label="{{label}} modifier"
            >
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</form>
